<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的优惠券</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <link rel="stylesheet" type="text/css" href="../css/pyf.css">
        <link rel="stylesheet" type="text/css" href="../css/ly.css">
        <link rel="stylesheet" type="text/css" href="../css/zyl.css">
		<style>
			.couponBanner{
				background-size: 100% 100%;
				background-position: 0 .09rem;
				background-repeat: no-repeat;
			}
		</style>

	</head>

	<body>
        <section id="app" class="my-coupon main hgt_full flex_column">
            <header class="curHeader">
                <a class="goBack" href="javascript:;"></a>
                <h1>我的优惠券</h1>
            </header>
            <div class="flex_1 overflow_auto p_both20r bg-f7">
                <!-- 列表 -->
                <div class="coupon-list p_both10r" v-cloak>
                    <div v-if="info.CouponList" v-for="item in info.CouponList" class="overflow_hide drag-wrap m-t-20r relative">
                        <!-- 模板 橘色的下边框class为 border-b-ffa127  -->
                        <div :class="item.bIsUsed || item.iStatus ? 'mod-wrap mod-wrap1 border-b-aaa flex_dom couponBanner' : 'mod-wrap2 mod-wrap border-b-ffa127 flex_dom couponBanner'" :style="{backgroundImage: 'url('+item.sImageSrc+')'}">
                            <div class="flex_1">
                                <p :class="item.bIsUsed || item.iStatus ? 'flex_dom flex_item_between m-t-20r' : 'flex_dom flex_item_between m-t-20r m-r-20r'">
                                    <span :class="item.bIsUsed || item.iStatus ? 'font30r color-aaa' : 'font30r color-ffa127'">打车代金券</span>
                                    <span :class="item.bIsUsed || item.iStatus ? 'font30r color-aaa' : 'font30r color-ffa127'">&yen;&nbsp;<em class="font46r">10</em></span>
                                </p>
                                <p class="color-999 m-t-15r font24r">有效期</p>
                                <p v-if="item.sExpiryDateEnd" class="color-999 font24r">{{item.sExpiryDateStart.replace(/-/g,'.')}}-{{item.sExpiryDateEnd.replace(/-/g,'.')}}</p>
                                <p v-else class="color-999 font24r">长期有效</p>
                                <!-- 有效 -->
                                <img v-if="!item.bIsUsed && !item.iStatus" src="../img/slice/youxiao.png" alt="">
                                <!-- 已过期 -->
                                <img v-if="item.iStatus && !item.bIsUsed" src="../img/slice/yiguoqi.png" alt="">
                                <!-- 已使用 -->
                                <img v-if="item.bIsUsed" src="../img/slice/yishiyong.png" alt="">
                            </div>
                            <button @click="delCoupon(item.ID, item.iMemberID)" v-if="item.bIsUsed && item.iStatus" class="wid10rem hgt_full bg-000 color-fff m-l-20r">删<br />除</button>
                        </div>
                    </div>
                    <!--没数据让上面的div不显示-->
                    <div class="no_data" style="display: none;">
                        <p class="color-999">暂无优惠券</p>
                    </div>
                </div>
                <div class="ph02 mt02 mb02" v-cloak v-if="info.CouponList && info.CouponList.length">
                    <div style="overflow: scroll" class="pa03 bg-fff hgt19rem">
                        <h3 class="font24r mb02 color-000 text-center">使用说明</h3>
                        <p v-if="info.Explain" class="font22r color-666 l-h-04rem">{{info.Explain.sDesc}}</p>
                    </div>
                </div>
            </div>
        </section>

	</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../lib/form-check.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>	
<script type="text/javascript" src="../lib/page.js"></script>	
<script type="text/javascript" src="../lib/vue.js"></script>	
<script src="../lib/touchSelect.js" type="text/javascript" charset="utf-8"></script>
<script src="../lib/touchMove.js" type="text/javascript" charset="utf-8"></script>

<script>
	getUserInfo()
	var app = new Vue({
		el: "#app",
		data: {
			info: {}
		},
		methods: {
			delCoupon: function(iCouponID, iMemberID){
				$.ajax({
					type: 'post',
					url: host + 'coupon.del',
					data: {iCouponID, iMemberID},
					success: function(res){
						if(res.success){
							go_alert2(res.message)
							location.reload()
						} else {
							go_alert2(res.message)
						}
					}
				})
			}
		},
		mounted: function(){
			$.ajax({
				type:"post",
				data: {
					iMemberID: JSON.parse(localStorage.getItem('userInfo')).ID
				},
				url: host+"coupon.getlist",
				success: function(res){
					if(res.success){
						app.info = res.data;
						$('.no_data').removeAttr('style');
						app.$nextTick(function(){
							$(".mod-wrap").touchDrag({
								up_func: function (dom, moveLength) { console.log(dom) },
								down_func: function (dom, moveLength) { console.log(moveLength) },
								left_func: function (dom, moveLength) {
									if(dom.hasClass("mod-wrap1")){
										dom.removeClass("dele");
										$('.coupon-list .mod-wrap1 span').removeClass('color-black');
										$('.coupon-list .mod-wrap1').removeClass('drag');
										$('.coupon-list .mod-wrap1').removeClass('dele');
										dom.find("span").addClass("color-black");
										dom.addClass("dele")
										dom.addClass("drag")
									}
									
								},
								right_func: function (dom, moveLength) {
									if(dom.hasClass("mod-wrap1")){
										dom.removeClass("dele");
										dom.find("span").removeClass("color-black");
										dom.removeClass("drag");
									}
								}
							})
						})
					}else{
						alert(res.message);
					}
				}
			});
		}
	})

	

</script>
 
</html>