<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>爱心随行</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <link rel="stylesheet" type="text/css" href="../css/pyf.css">
        <link rel="stylesheet" type="text/css" href="../css/ly.css">

	</head>

	<body>
		<section id="app" class="main hgt_full flex_column">
			<header class="curHeader">
				<a class="goBack" href="javascript:;"></a>
				<h1>{{param.type==0?'车主详情':'乘客详情'}}</h1>
			</header>
			<section class="flex_1 overflow_auto bg-f7 font24r relative">
				<div class="Con l-pad20 bg-fff">
					<div class="flex_dom pv02">
						<div class="cur_head coverImg" :style="{'backgroundImage':'url('+(driverInfo.sImageSrc?driverInfo.sImageSrc:'../img/slice/defaultHeader.png')+')'}"></div>
						<div class="flex_1 ph02">
							<div class="hgt04rem l-h-04rem flex_dom flex_item_mid">
								<div class="flex_1">
									<span class="font28r only_line boxName" v-cloak>{{driverInfo.sName | filterName}}{{driverInfo.iGender == 1 ? '先生' : '女士'}}</span>
									<button v-if="driverInfo.iMemberLevel == 1" class="p_icon1 bg-orange color-fff" v-cloak>随员</button>
									<button v-if="driverInfo.iMemberLevel == 2" class="p_icon1 bg-orange color-fff" v-cloak>三秘</button>
									<button v-if="driverInfo.iMemberLevel == 3" class="p_icon1 bg-orange color-fff" v-cloak>二秘</button>
									<button v-if="driverInfo.iMemberLevel == 4" class="p_icon1 bg-orange color-fff" v-cloak>一秘</button>
									<button style="min-width: .56rem;padding: 0 .1rem;" v-if="driverInfo.iMemberLevel == 5" class="p_icon1 bg-orange color-fff" v-cloak>参赞-{{driverInfo.sOccupation}}</button>
									<button style="min-width: .56rem;padding: 0 .1rem;" v-if="driverInfo.iMemberLevel == 6" class="p_icon1 bg-orange color-fff" v-cloak>大使</button>
								</div>
							</div>
							<div class="font22r flex_dom">
								<div class="flex_1 flex_dom flex_item_mid">
									<img class="icon-diamond m-r-5r" src="../img/slice/icon-diamond.png" alt="" />
									<em v-cloak>{{driverInfo.iTotalIntegral}}</em>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="Con l-pad20 mt02 bg-fff">
					<div class="hgt09rem between-center">
						<span class="color-666">社区</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.sRegionName}}-{{driverInfo.sStreetName}}
						</div>
					</div> 
					<div class="border-b-eee"></div>
					<div class="hgt09rem border-b-eee between-center">
						<span class="color-666">车辆品牌</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.sVehicleBrand}}
						</div>
					</div>
					<div class="hgt09rem border-b-eee between-center">
						<span class="color-666">车辆型号</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.sVehicleModel}}
						</div>
					</div>
					<div class="hgt09rem border-b-eee between-center">
						<span class="color-666">车牌号</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.license}}
						</div>
					</div>
					<div class="hgt09rem border-b-eee between-center">
						<span class="color-666">车辆颜色</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.sVehicleColor}}
						</div>
					</div>
					<div class="hgt09rem between-center">
						<span class="color-666">性别</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.iGender == 1 ? '男' : '女'}}
						</div>
					</div>
					<div class="border-b-eee"></div>
					<div class="hgt09rem border-b-eee between-center">
						<span class="color-666">职业</span>
						<div class="center-end only_line wid47rem" v-cloak>
							{{driverInfo.sOccupation}}
						</div>
					</div>
					<div class=" p-t-20r border-b-eee p-b-20r">
						<p class="color-666">兴趣</p>
						<p v-if="driverInfo.sInterest" v-cloak>{{driverInfo.sInterest}}</p>
						<p v-else v-cloak>无</p>
					</div>
				</div>
			</section>
			<!--<div class="bg-ffa127 font24r color-fff around-center hgt08rem">
				加好友
			</div>-->
			<!--预约成功-->
			<div v-cloak v-if="driverInfo.bIsFriend" class="bg-ffa127 wid100 font24r color-fff between hgt08rem flex_dom">
				<button @click="goSendMsg(1)" class="hgt08rem font24r bg-fff bg-ffa127 color-fff flex_1">留言</button>
			</div>
            <div v-cloak v-if="!driverInfo.bIsFriend">
                <div v-cloak v-if="param.status < 4" class="bg-ffa127 wid100 font24r color-fff between hgt08rem flex_dom">
                    <button @click="addFriend" class="hgt08rem font24r bg-fff color-ffa127 flex_1">加好友</button>
                    <button @click="goSendMsg()" class="hgt08rem font24r flex_1 bg-ffa127 color-fff">发送临时消息</button>
                </div>
                <div v-cloak v-if="param.status >= 4 && driverInfo.bIsFriend" class="bg-ffa127 wid100 font24r color-fff between hgt08rem flex_dom">
                    <button @click="addFriend" class="hgt08rem font24r bg-fff color-ffa127 flex_1">加好友</button>
                </div>
            </div>
	      	<!--请注意车牌号一致-->
			<div style="z-index: 1;" class="markBox2 hide font24r">
	            <div style="width: 4.8rem;" class="mark overflow_hide">
	            	<div class="Con text-left color-333 border-b-eee p-l-80r p-t-20r p-b-20r bg-fff">
	            		<h3 class="font22r font-w6">请注意车牌号一致：川A123456</h3>
	            		<div >
	            			<label class=" color-orange pv01">
	            				<input name="payWay" type="radio" value="1" class="hide" checked />
	            				<span class="check_round_small"></span>
	            				<i class="ml02 color-333">紧急联系人</i>
	            			</label>
	            			<br />
	            			<label class=" color-orange pv01">
	            				<input type="radio" name="payWay" value="2" class="hide" />
	            				<span class="check_round_small"></span>
	            				<i class="ml02 color-333">临时联系人</i>
	            			</label>
	            		</div>
	            	</div>
	            	<div class="hgt08rem bg-fff around-center ">
	            		<button onclick="$('.markBox2').hide()" class="wid50 font24r border-r-eee hgt08rem color-666">取消</button>
	            		<button class="wid50 color-fff hgt08rem color-000 font24r">确定</button>
	            	</div>
	            </div>
	      	</div>
		</section>
	</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../lib/form-check.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>	
<script type="text/javascript" src="../lib/page.js"></script>	
<script type="text/javascript" src="../lib/vue.js"></script>	
<script src="../lib/touchSelect.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	getUserInfo()
	var app = new Vue({
		el: "#app",
		data: {
			driverInfo: {},
			userInfo: JSON.parse(localStorage.userInfo),
			param: GetRequest()
		},
		filters: {
		    filterName: function (value) {
		        console.log(value);
		        if (!value) return;
		        var str = '';
		        for (var i = 0; i < value.length - 1; i++) {
		            str += '*';
		        }
		        return value.substring(0, 1) + str;
		    }
		},
		mounted: function(){
			$.ajax({
				type: "post",
				url: host + "member.get",
				data: {iMemberID: this.param.id, iSelfMemberID: this.userInfo.ID},
				success: function(res){
					app.driverInfo = res.data
					app.licenseAdd(res.data.sVehicleAscription,res.data.sLicensePlate)
				}
			})
		},
		methods: {
		    goSendMsg: function (type) {
		        if(type){
		            location.href = 'temporaryMsg.html?id=' + app.driverInfo.ID;
		        } else {
		            location.href = 'temporaryMsg.html?id=' + app.driverInfo.ID + '&type=' + 1;
		        }
			},
			licenseAdd: function(sVehicleAscription,sLicensePlate){
				var license = sVehicleAscription + '·' + sLicensePlate.substring(0,1) + sLicensePlate.substring(1)
				app.driverInfo.license = license
			},
			addFriend: function(){
				$.ajax({
					type: 'post',
					url: host + 'friend.add',
					data: {
						iMemberID: this.userInfo.ID,
						iRelMemberID: this.param.id
					},
					success: function(res){
						if(res.success){
							go_alert2(res.message)
						} else {
							go_alert2(res.message)
						}
					}
				})
			}
		}
	})
	
</script>
 
</html>