<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>爱心随行</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <link rel="stylesheet" type="text/css" href="../css/pyf.css">
        <link rel="stylesheet" type="text/css" href="../css/ly.css">

	</head>

	<body>
		<section id="app" class="main hgt_full flex_column">
			<header class="curHeader">
				<a class="goBack" href="javascript:;"></a>
				<h1>帮助中心</h1>
			</header>
			<section id="scrollCtt" class="flex_1 bg-f7 overflow_auto font24r relative">
				<div v-if="list.length" class="l-pad20 Con bg-fff">
					<a v-for="item in list" :href="'helpDetail.html?' + item.ID" class="msgLine hgt14rem p-t-20r p-b-10r column-around border-b-eee">
						<p class="line2" v-cloak>{{item.sTitle}}</p>
						<p class="color-999" v-text="item.dCreateTime.substring(0,16).replace(/-/g,'.')"></p>
					</a>
					<p class="moreText text-center l-h-06rem"></p>
				</div>
				<!--没数据让上面的div不显示-->
				<div style="top:0;position:relative; height: 2.5rem;" class="no_data m-t-90r">
                    <p class="color-999">暂无文章</p>
                </div>
			</section>
		</section>
	</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../lib/form-check.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>	
<script type="text/javascript" src="../lib/page.js"></script>	
<script type="text/javascript" src="../lib/vue.js"></script>	
<script src="../lib/touchSelect.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	getUserInfo()
	var app = new Vue({
		el: '#app',
		data: {
			userInfo: JSON.parse(localStorage.userInfo),
			page: 1,
			list: [],
			isLoad: true,
			isAjaxIng: false
		},
		methods: {
			getList: function(){
				this.isAjaxIng = false
				$.ajax({
					type: 'post',
					url: host + 'article.gethelplist',
					data: {page: this.page},
					success: function(res){
						app.list = app.list.concat(res.data)
						if (res.data.length < 15) {
							app.isLoad = false
						}
						app.isAjaxIng = true
					}
				})
			}
		},
		mounted: function(){
			this.getList()
		}
	})

	//滑动加载
    $("#scrollCtt").scroll(function () {
        var all_height = $(this)[0].scrollHeight;
        var dom_height = $(this).height();
        if ($(this).scrollTop() >= all_height - dom_height - 30) {
            if (app.isLoad){
				if(app.isAjaxIng){
					app.page = app.page + 1;
					app.getList();
					$(".moreText").html('加载中...');
				}
			}else{
				$(".moreText").html('没有更多了');
			}
        }
    });

</script>
 
</html>