<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>好友</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <link rel="stylesheet" type="text/css" href="../css/pyf.css">
        <link rel="stylesheet" type="text/css" href="../css/ly.css">
        <link rel="stylesheet" type="text/css" href="../css/zyl.css">

		<style>
			.searchTab{
				z-index: 1000;
			}
		</style>

	</head>

	<body>
		<section id="app" class="main hgt_full flex_column bg-f7">
			<header class="curHeader">
				<a class="goBack" href="javascript:;"></a>
				<h1>好友</h1>
				<a class="addFriendBtn" href="addFriend.html"></a>
			</header>
			<div id="scrollCtt" class="flex_1 overflow_auto font24r">
				<h3 class="color-000 ph02 l-h-06rem font24r">好友申请</h3>
				<div>
					<div v-for="item in applyList" class="flex_dom addFriendBox bg-fff m-b-10r">
						<div class="cur_head coverImg" :style="{'backgroundImage':'url('+(item.sFriendImageSrc?item.sFriendImageSrc:'../img/slice/defaultHeader.png')+')'}"></div>
						<div class="flex_1 ph02">
							<p class="hgt04rem l-h-04rem">
								<span class="font28r only_line boxName" v-cloak>{{item.sFriendName | filterName}}&nbsp;&nbsp;{{item.iFriendGender==1?'先生':'女士'}}</span>
								<button v-if="item.iFriendMemberLevel == 1" class="p_icon1 bg-orange color-fff" v-cloak>随员</button>
								<button v-if="item.iFriendMemberLevel == 2" class="p_icon1 bg-orange color-fff" v-cloak>三秘</button>
								<button v-if="item.iFriendMemberLevel == 3" class="p_icon1 bg-orange color-fff" v-cloak>二秘</button>
								<button v-if="item.iFriendMemberLevel == 4" class="p_icon1 bg-orange color-fff" v-cloak>一秘</button>
								<button v-if="item.iFriendMemberLevel == 5" class="p_icon1 bg-orange color-fff" v-cloak>参赞-{{item.sOccupation}}</button>
								<button v-if="item.iFriendMemberLevel == 6" class="p_icon1 bg-orange color-fff" v-cloak>大使</button>
							</p>
							<p class="font22r">
								<img class="icon-diamond" src="../img/slice/icon-diamond.png" alt="" />
								<em v-cloak>{{item.iFriendIntegral}}</em>
							</p>
							<p class="font24r" v-cloak>{{item.sFriendCommunity}}-{{item.sVehicleInfo}}</p>
						</div>
						<div>
							<button @click="agree(item.ID)" class="sureAddBtn">同意</button>
							<button @click="refuse(item.ID)" class="rejectAddBtn">拒绝</button>
						</div>
					</div>
					<!-- <p>1</p> -->
					<p class="font24r bg-fff l-h-06rem text-center" v-if="applyList.length == 0">暂无好友申请</p>
				</div>
				<h3 class="color-000 ph02 l-h-06rem font24r flex_dom" onclick="openFilter()">
					<span class="flex_1">我的好友</span>
					<i>筛选</i>
				</h3>
				<div class="mb01">
					<div v-for="item in list" class="flex_dom addFriendBox bg-fff mb01">
						<div class="cur_head coverImg" :style="{backgroundImage: 'url('+(item.sFriendImageSrc?item.sFriendImageSrc:'../img/slice/defaultHeader.png')+')'}"></div>
						<div class="flex_1 ph02">
							<p class="hgt04rem l-h-04rem">
								<span class="font28r only_line boxName" v-cloak>{{item.sFriendName.substring(0,1)+ '**'}}&nbsp;&nbsp;{{item.iFriendGender==1?'先生':'女士'}}</span>
								<button v-if="item.iFriendMemberLevel == 1" class="p_icon1 bg-orange color-fff" v-cloak>随员</button>
								<button v-if="item.iFriendMemberLevel == 2" class="p_icon1 bg-orange color-fff" v-cloak>三秘</button>
								<button v-if="item.iFriendMemberLevel == 3" class="p_icon1 bg-orange color-fff" v-cloak>二秘</button>
								<button v-if="item.iFriendMemberLevel == 4" class="p_icon1 bg-orange color-fff" v-cloak>一秘</button>
								<button v-if="item.iFriendMemberLevel == 5" class="p_icon1 bg-orange color-fff" v-cloak>参赞-{{item.sOccupation}}</button>
								<button v-if="item.iFriendMemberLevel == 6" class="p_icon1 bg-orange color-fff" v-cloak>大使</button>
							</p>
							<p class="font22r">
								<img class="icon-diamond" src="../img/slice/icon-diamond.png" alt="" />
								<em v-cloak>{{item.iFriendIntegral}}</em>
							</p>
							<p class="font24r" v-cloak>{{item.sFriendCommunity}}-{{item.sVehicleInfo}}</p>
						</div>
						<!--有信息  isMsg-->
						<div :class="item.bIsHasMsgUnread?'relative flex_dom flex_item_mid isMsg':'relative flex_dom flex_item_mid '">
							<img @click="toChat(item.iMemberID==submitData.iMemberID?item.iRelMemberID:item.iMemberID)" class="wid03rem block" src="../img/slice/icon-msg.png"/>
						</div>
					</div>
				</div>
				<p class="font24r bg-fff l-h-06rem text-center" v-if="list.length == 0">暂无好友</p>
				<p class="text-center l-h-06rem moreText"></p>
			</div>
			<!--筛选弹窗-->
			<div class="mask indexFilterMask hide" onclick="closeFilter()"></div>
			<div class="maskRight font24r flex_column bg-f7 toRight">
				<div class="ph02 bg-fff">
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666 flex_1 ">社区:</span>
						<!-- <input class="pv03 iconBot text-right wid13rem otherChoice" readonly type="text" placeholder="区县" /> -->
						<input @focus="openSearchTab('sRegionID')" type="text" name="" placeholder="区县" class="sRegionID pv03 wid11rem iconBot only_line placeholder-999 font24r text-center wid100 p-r-10r" value="" />
						<i class="hgt03rem border-r-eee ml02 mr02"></i>
						<!-- <input class="pv03 iconBot text-right wid13rem otherChoice2" readonly type="text" placeholder="社区" /> -->
						<input @focus="openSearchTab('sStreetID')" type="text" name="" placeholder="街道" class="sStreetID pv03 wid11rem iconBot only_line placeholder-999 font24r text-center wid100 p-r-10r" value="" />
                        <i class="hgt03rem border-r-eee ml02 mr02"></i>
                        <input @focus="openSearchTab('sCommunityID')" type="text" name="" placeholder="社区" class="sCommunityID pv03 wid11rem iconBot only_line placeholder-999 font24r text-center wid100 p-r-10r" value="" />
					</div>
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666 wid16rem">车辆品牌:</span>
						<input @focus="openSearchTab('sVehicleBrand')" type="text" name="" placeholder="请选择" class="sVehicleBrand pv03 iconRight color-000 otherChoice4 font24r text-right wid100" value="" />
					</div>
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666 wid16rem">车辆型号:</span>
						<input @focus="openSearchTab('sVehicleModel')" type="text" name="" placeholder="请选择" class="sVehicleModel pv03 iconRight color-000 otherChoice5 font24r text-right wid100" value="" />
					</div>
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666 mr03">车牌号：</span>
						<!-- <input class="pv03 iconBot text-right flex_1 otherChoice4" readonly type="text" placeholder="请选择" /> -->
						<input @focus="openSearchTab('sVehicleAscription')" type="text" name="" placeholder="请选择" class="sVehicleAscription wid13rem iconBot only_line color-000 font24r otherChoice6 text-center wid100 p-r-10r" value="" />
						<i class="hgt03rem border-r-eee ml02 mr02"></i>
						<input v-model="submitData2.sLicensePlate" class="pv03 text-right flex_1 ml02" type="text" placeholder="请填写" />
					</div>
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666 mr03">年龄段：</span>
						<input class="pv03 iconBot text-right flex_1 otherChoice7" readonly type="text" placeholder="请选择" />
						<i class="hgt03rem border-r-eee ml02 mr02"></i>
						<input class="pv03 iconBot text-right flex_1 otherChoice8" readonly type="text" placeholder="请选择" />
					</div>
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666">姓名：</span>
						<input v-model="submitData2.sName" class="pv03 text-right flex_1" type="text" placeholder="模糊搜索" />
					</div>
					<div class="flex_dom flex_item_mid border-b-eee">
						<span class="color-666">职业：</span>
						<input v-model="submitData2.sOccupation" class="pv03 text-right flex_1" type="text" placeholder="模糊搜索" />
					</div>
					<div class="flex_dom flex_item_mid">
						<span class="color-666">爱好：</span>
						<input v-model="submitData2.sInterest" class="pv03 text-right flex_1" type="text" placeholder="模糊搜索" />
					</div>
				</div>
				<div class="flex_1"></div>
				<div class="flex_dom">
					<button onclick="closeFilter()" class="flex_1 hgt08rem font22r bg-fff color-orange font-w6 font22r">取消</button>
					<button @click="getList(1)" class="flex_1 hgt08rem font22r color-fff bg-orange font-w6 font22r">确定 </button>
				</div>
			</div>
			 <!-- 搜索页面 -->
			 <div class="searchTab font24r">
				<p class="relative hgt07rem flex_dom flex_item_mid flex_item_center">
					<a @click="closeSearchTab" class="closeSearchTab" href="javascript:;"></a>
					<input v-model="userInput" placeholder="请输入搜索内容" class="bg-f7 wid70 p-v-10r radius02r p_both20r font24r" type="text">
				</p>
				<div style="overflow: auto;padding-bottom: .7rem" class="hgt_full">
					<p class="hgt04rem"></p>
                    <p v-if="searchTabResult.length <= 0 && !userInput" @click="userChoose(item)" v-for="(item,index) in searchTabInit" class="hgt065rem l-h-065rem p_both20r border-b-eee">{{item.sName || item.sContent || item.sColor}}</p>
                    <p v-if="searchTabResult.length" @click="userChoose(item)" v-for="(item,index) in searchTabResult" class="hgt065rem l-h-065rem p_both20r border-b-eee">{{item.sName || item.sContent || item.sColor}}</p>
				</div>
			</div>
		</section>

	</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../lib/form-check.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>	
<script type="text/javascript" src="../lib/page.js"></script>	
<script type="text/javascript" src="../lib/touchSelect.js"></script>	
<script type="text/javascript" src="../lib/vue.js"></script>	


<script type="text/javascript">

	var app = new Vue({
		el: '#app',
		data: {
			submitData: {
				iMemberID: JSON.parse(localStorage.userInfo).ID
			},
			list: [],
			applyList: [],
			isLoad: true,
			isAjaxIng: false,
			page: 1,
			queryinit: {}, 		// 所有初始化数据
            searchTabInit: [], 		// 搜索初始化数据
            searchTabResult: [],		// 搜索结果
            userInput: "",			// 用户输入
			category: "", 		// 用户选择哪个模块
			submitData2: {
				iMemberID: JSON.parse(localStorage.userInfo).ID
			}
		},
		filters: {
		    filterName: function (value) {
		        if (!value) return;
		        var str = '';
		        for (var i = 0; i < value.length - 1; i++) {
		            str += '*';
		        }
		        console.log(str.substring(0, 1) + str);
		        return value.substring(0, 1) + str;
		    }
		},
		methods: {
			getList: function(type){
				this.isAjaxIng = false
				this.submitData.page = this.page
				this.submitData2.page = this.page
				if(type == 1){
					app.list = []
					app.page = 1
					submitData = this.submitData2
					
				} else {
					submitData = this.submitData
				}
				console.log(submitData)
				$.ajax({
					type: 'post',
					url: host + 'friend.getlist',
					data: submitData,
					success: function(res){
						if(res.data.FriendshipApplyList.length < 15 || res.data.FriendshipList.length) {
							app.applyList = res.data.FriendshipApplyList
							app.list = app.list.concat(res.data.FriendshipList)
							app.isLoad = false
							if(type == 1){
							    //$('.maskRight ').removeClass('toRight')
							    closeFilter()
							}
						}
						app.isAjaxIng = true
					}
				})
			},
			agree: function(id){
				$.ajax({
					type: 'post',
					url: host + 'friend.allow',
					data: {
						iFriendshipID: id
					},
					success: function(res){
						if(res.success){
							go_alert2(res.message, function(){
								location.reload()
							})
						} else {
							go_alert2(res.message)
						}
					}
				})
			},
			refuse: function(id){
				$.ajax({
					type: 'post',
					url: host + 'friend.refuse',
					data: {
						iFriendshipID: id
					},
					success: function(res){
						if(res.success){
							go_alert2(res.message, function(){
								location.reload()
							})
						} else {
							go_alert2(res.message)
						}
					}
				})
			},
			closeSearchTab: function () {
                $(".searchTab").hide()
                app.userInput = ""
                app.searchTabResult = []
            },
            openSearchTab: function (category) {
                $(".searchTab").show()
                $(".searchTab input").focus()
                app.judgeCategory(category)
            },
            userChoose: function (item) {
                app.setUserChoose(item)
                app.closeSearchTab()
            },
            judgeCategory: function (category) {
                app.category = category
                switch (category) {
                    case 'sRegionID':
                        app.searchTabInit = app.queryinit.RegionList
                        break;
                    case 'sStreetID':
                        if ($(".sRegionID").val() == '') {
                            go_alert2("请先选择区/县")
                            app.closeSearchTab()
                        }
                        else {
                            app.getSteetList()
                        }
                        break;
                    case 'sCommunityID':
                        if ($(".sStreetID").val() == '') {
                            go_alert2("请先选择街道")
                            app.closeSearchTab()
                        }
                        else {
                            app.getiCommunityIDList()
                        }
                        break;
                    case 'sVehicleBrand':
                        app.searchTabInit = app.queryinit.CarBrandList
                        break;
                    case 'sVehicleModel':
                        if ($(".sVehicleBrand ").val() == '') {
                            go_alert2("请先选择车辆品牌")
                            app.closeSearchTab()
                        }
                        else {
                            app.getCarModelList()
                        }
                        break;
                    case 'sVehicleAscription':
                        app.searchTabInit = app.queryinit.LicensePlateLocationList
                        break;
                    // case 'sVehicleColor':
                    //     app.searchTabInit = app.queryinit.VehicleColorList
                    //     break;
                    // case 'sOccupation':
                    //     app.searchTabInit = app.queryinit.OccupationList
                    //     break;
                }
            },
            setUserChoose: function (item) {
                $("." + app.category).val(item.sName || item.sContent || item.sColor)
                // Vue.set(app.submitData, app.category, item.ID)
                // console.log(app.category)
                if ((app.category == 'iRegionID') || (app.category == 'iStreetID') || (app.category == 'iCommunityID')) {
                    Vue.set(app.submitData, app.category, item.ID)
                }
                if (app.category == 'iRegionID') {
                    app.submitData.iStreetID = null
                    app.submitData.iCommunityID = null
                    $('.iStreetID').val('')
                    $('.iCommunityID').val('')
                }
                if (app.category == 'iStreetID') {
                    app.submitData.iCommunityID = null
                    $('.iCommunityID').val('')
                }
                if (app.category == 'sVehicleBrand') {
                    app.submitData.sVehicleModel = ''
                    $('.sVehicleModel').val('')
                }
                if ((app.category == 'sVehicleBrand') || (app.category == 'sVehicleModel') || (app.category == 'sOccupation')) {
                    Vue.set(app.submitData, app.category, item.sName)
                }
                if ((app.category == 'sVehicleBrand')) {
                    $('.sVehicleBrand')[0].id = item.ID
                }
                if (app.category == 'sVehicleAscription') {
                    Vue.set(app.submitData, app.category, item.sContent)
                }
                if (app.category == 'sVehicleColor') {
                    Vue.set(app.submitData, app.category, item.sColor)
                }
            },
            getSteetList: function () {
                $.ajax({
                    type: 'post',
                    data: { iRegionID: app.submitData2.sRegionID },
                    url: host + "loc.getstreetlist",
                    success: function (res) {
                        app.searchTabInit = res.data
                    }
                })
            },
            getiCommunityIDList: function () {
                $.ajax({
                    type: 'post',
                    data: { iStreetID: app.submitData2.sStreetID },
                    url: host + "loc.getcommunitylist",
                    success: function (res) {
                        app.searchTabInit = res.data
                    }
                })
            },
            getCarModelList: function () {
                $.ajax({
                    type: 'post',
                    data: { iCarTypeID: $('.sVehicleBrand')[0].id },
                    url: host + "car.getmodel",
                    success: function (res) {
                        app.searchTabInit = res.data
                    }
                })
            },
            submit: function () {
                localStorage.searchFriend = JSON.stringify(app.submitData2)
                var str = JSON.stringify(app.submitData2)
                console.log(str)
                if(str == '{}'){
                    go_alert2('请填写检索信息')
                } else {
                    location.href = 'friendSearchResult.html'
                }
			},
			toChat: function(id){
				location.href = 'temporaryMsg.html?id='+id
			}
		},
		mounted: function(){
			this.getList()
			$.ajax({
                type: 'post',
                url: host + "friend.queryinit",
                success: function (res) {
                    app.queryinit = res.data
                }
            })
		},
		watch: {
            userInput: function(){
				app.searchTabResult = []
				if(app.userInput != ""){
					for(item of app.searchTabInit){
						var match = item.sName || item.sContent || item.sColor
						if(match.indexOf(app.userInput) >= 0){
							app.searchTabResult.push(item)
						}
					}
				}
				
			}
        }
	})

	//滑动加载
    $("#scrollCtt").scroll(function () {
        var all_height = $(this)[0].scrollHeight;
        var dom_height = $(this).height();
        if ($(this).scrollTop() >= all_height - dom_height - 30) {
            if (app.isLoad){
				if(app.isAjaxIng){
					app.page = app.page + 1;
					app.getList();
					$(".moreText").html('加载中...');
				}
			}else{
				$(".moreText").html('没有更多了');
			}
        }
    });

	// var otherData=[{id:1,name:"吃饭"},{id:1,name:"睡觉"},{id:2,name:"打游戏"}]
	// 	$(".otherChoice").touchSelect({
	// 		type:"other",
	// 		data:otherData,
	// 		callback:function(val,dom){
	//            console.log(dom)
      	
	//         }
	// 	})
	// 	$(".otherChoice2").touchSelect({
	// 		type:"other",
	// 		data:otherData,
	// 		callback:function(val,dom){
	//            console.log(dom)
      	
	//         }
	// 	})
	// 	$(".otherChoice3").touchSelect({
	// 		type:"other",
	// 		data:otherData,
	// 		callback:function(val,dom){
	//            console.log(dom)
      	
	//         }
	// 	})
	// 	$(".otherChoice4").touchSelect({
	// 		type:"other",
	// 		data:otherData,
	// 		callback:function(val,dom){
	//            console.log(dom)
      	
	//         }
	// 	})
	// 	$(".otherChoice5").touchSelect({
	// 		type:"other",
	// 		data:otherData,
	// 		callback:function(val,dom){
	//            console.log(dom)
      	
	//         }
	// 	})
	// 	$(".otherChoice6").touchSelect({
	// 		type:"other",
	// 		data:otherData,
	// 		callback:function(val,dom){
	//            console.log(dom)
      	
	//         }
	// 	})
	var ageData = [];
		for (var i = 22; i < 99; i++) {
		    var age = new Object();
		    age.id = i;
		    age.name = i;
		    ageData.push(age);
		}

		$(".otherChoice7").touchSelect({
			type:"other",
			data: ageData,
			callback: function (val, dom) {
                console.log(dom,val)
                app.submitData2.sAgeBegin = val.name
			}
		})
		$(".otherChoice8").touchSelect({
			type:"other",
			data: ageData,
			callback: function (val, dom) {
                console.log(dom)
                app.submitData2.sAgeEnd = val.name
			}
		})
	//打开筛选
	function openFilter(){
		$('.indexFilterMask').show();
		$('.maskRight').removeClass('toRight');
	}
	//关闭筛选
	function closeFilter(){
		$('.indexFilterMask').hide();
		$('.maskRight').addClass('toRight');
	}
</script>
 
</html>