<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>充值</title>
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--分享使用-->
		<meta itemprop="name" content="" />
		<meta itemprop="description" name="description" content="" />
		<meta itemprop="image" content="img_url" />
		<meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/page.css">
        <link rel="stylesheet" type="text/css" href="../css/pyf.css">	
        <link rel="stylesheet" type="text/css" href="../css/ly.css">
        <link rel="stylesheet" type="text/css" href="../css/zyl.css">


	</head>

	<body>
		<section id="app" class="charge main hgt_full flex_column">
			<header class="curHeader">
				<a class="goBack" href="javascript:;"></a>
				<h1>充值</h1>
			</header>
			<div class="flex_1 overflow_auto bg-f7">
				<!-- 选择金额wrap -->
				<div class="choose-price m_both20r m-v-10r p-b-20r p_both20r bg-fff flex_dom flex_wrap ">
					<label @click="chooseMoney(item.ID, item.dMoney)" v-for="item in list" :for="'price' + item.ID">
						<input :id="'price' + item.ID" name="price" type="radio" hidden>
						<span class="tag active" v-cloak>{{item.dMoney}}元</span>
					</label>
				</div>

				<!-- <div class="hgt06rem bg-fff border-b-eee font-w6 l-pad20 center">
					选择充值方式
				</div>
				<div class="Con l-pad20 bg-fff">
					<label @click="choosePay(0)" class="hgt09rem border-b-eee between-center">
						<p class="center">
							<img class="wid04rem mr02" src="../img/slice/icon_wechatPay.png" />微信支付</p>
						<label class=" color-orange pv01">
							<input type="radio" name="payWay" value="2" class="hide" />
							<span class="check_round_small"></span>
						</label>
					</label>
					<label @click="choosePay(1)" class="hgt09rem between-center">
						<p class="center">
							<img class="wid04rem mr02" src="../img/slice/icon_zfbPay.png" />支付宝</p>
						<label class=" color-orange pv01">
							<input type="radio" name="payWay" value="2" class="hide" />
							<span class="check_round_small"></span>
						</label>
					</label>
				</div> -->

				<p class="font24r p_both20r m-t-15r">
					<span onclick="openTab()" class="underline color-333">充值说明</span>
				</p>

				<p class="m-t-45r text-center fw-normal"><button @click="submit" class="zyl-btn1 wid30rem hgt06rem l-h-06rem">确认充值</button></p>
			</div>
			

			<!-- 弹出框 -->
			<div style="display: none" class="pop-tab">
				<div class="ab-wrap p_both20r p-b-20r">
					<img onclick="closeTab()" src="../img/slice/icon_close.png" alt="">
					<h2 class="text-center l-h-065rem font30r">充值说明</h2>
					<p class="l-h-04rem font22r color-666 font-w5" v-if="chargeExplain" v-text="chargeExplain.replace(/\n\r/g,'<br/>')"></p>
				</div>
			</div>

		</section>

	</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../lib/form-check.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>	
<script type="text/javascript" src="../lib/page.js"></script>	
<script type="text/javascript" src="../lib/vue.js"></script>	

<script>
	getUserInfo()
	var app = new Vue({
		el: '#app',
		data: {
			userInfo: JSON.parse(localStorage.userInfo),
			chargeExplain: '',
			list: [],
			iRechargeID: null,
			sPayType: null,
			iBalanceID: null
		},
		methods: {
			getSettings: function(){
				$.ajax({
					type: 'post',
					url: host + 'rechareg.getlist',
					success: function(res){
						app.chargeExplain = res.data.Settings.sContent
						app.list = res.data.RechargeList
					}
				})
			},
			chooseMoney: function(iRechargeID, dMoney){
				app.iRechargeID = iRechargeID
				app.money = dMoney
			},
			checkForm: function(){
				if(!app.iRechargeID){
					go_alert2('请选择充值金额')
					return false
				}
				return true
			},
			// choosePay: function(sPayType){
			// 	app.sPayType = sPayType
			// },
			submit: function () {
				if (app.checkForm()) {
					$.ajax({
						type: 'post',
						url: host + 'member.recharge',
						data: { iMemberID: app.userInfo.ID, iRechargeID: app.iRechargeID },
						success: function (res) {
							if (res.success) {
								app.iBalanceID = res.data
								location.href = 'pay.html?' + 'money=' + app.money + '&id=' + app.iBalanceID
							} else {
								go_alert2(res.message)
							}
						}
					})
				}
			}
		},
		mounted: function(){
			this.getSettings()
		}
	})

	// 打开弹出框
	function openTab() {
		$(".pop-tab").show()
	}
	// 关闭弹出框
	function closeTab() {
		$(".pop-tab").hide()
	}

</script>
 
</html>